USE [ironman]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2018/08/02 15:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 2018/08/02 15:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[PenaltyID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NULL,
	[TentID] [int] NULL,
	[RacerID] [int] NULL,
	[RefID] [int] NULL,
	[PenaltyPicturePath] [nvarchar](500) NULL,
	[PenaltyLocation] [nvarchar](max) NULL,
	[PenaltyTime] [time](7) NULL,
	[PenaltyDate] [date] NULL,
	[TicketID] [int] NULL,
	[RacerArrival] [nvarchar](50) NULL,
	[RacerLeave] [nvarchar](50) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
 CONSTRAINT [PK_Penalty] PRIMARY KEY CLUSTERED 
(
	[PenaltyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racer]    Script Date: 2018/08/02 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racer](
	[RacerID] [int] NOT NULL,
	[RacerName] [nvarchar](500) NOT NULL,
	[RacerSurname] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Racer] PRIMARY KEY CLUSTERED 
(
	[RacerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referee]    Script Date: 2018/08/02 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referee](
	[RefID] [int] IDENTITY(1,1) NOT NULL,
	[RefFullName] [nvarchar](500) NOT NULL,
	[RefEmail] [nvarchar](500) NOT NULL,
	[RefPassword] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Referee] PRIMARY KEY CLUSTERED 
(
	[RefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tent]    Script Date: 2018/08/02 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tent](
	[TentID] [int] NOT NULL,
	[TentName] [nvarchar](500) NULL,
 CONSTRAINT [PK_Tent] PRIMARY KEY CLUSTERED 
(
	[TentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 2018/08/02 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketType] [int] NOT NULL,
	[TicketName] [nvarchar](50) NOT NULL,
	[TicketColour] [nvarchar](50) NULL,
	[TicketTip] [nvarchar](500) NULL,
	[TimeServing] [float] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketComment]    Script Date: 2018/08/02 15:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketComment](
	[TicketID] [int] NOT NULL,
	[CommentID] [int] NOT NULL,
 CONSTRAINT [PK_TicketComment] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC,
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [CommentDescription]) VALUES (1, N'Littering out of the trash/rubbish drop zones')
INSERT [dbo].[Comment] ([CommentID], [CommentDescription]) VALUES (2, N'using unsportman behavior')
INSERT [dbo].[Comment] ([CommentID], [CommentDescription]) VALUES (3, N'Drafting violation')
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Penalty] ON 

INSERT [dbo].[Penalty] ([PenaltyID], [CommentID], [TentID], [RacerID], [RefID], [PenaltyPicturePath], [PenaltyLocation], [PenaltyTime], [PenaltyDate], [TicketID], [RacerArrival], [RacerLeave], [longitude], [latitude]) VALUES (1, 3, 1, 4444, 1, NULL, NULL, CAST(N'00:52:45.4066667' AS Time), CAST(N'2018-07-28' AS Date), 3, NULL, NULL, NULL, NULL)
INSERT [dbo].[Penalty] ([PenaltyID], [CommentID], [TentID], [RacerID], [RefID], [PenaltyPicturePath], [PenaltyLocation], [PenaltyTime], [PenaltyDate], [TicketID], [RacerArrival], [RacerLeave], [longitude], [latitude]) VALUES (2, 1, 2, 1234, 1, NULL, NULL, CAST(N'01:03:28.6500000' AS Time), CAST(N'2018-07-28' AS Date), 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[Penalty] ([PenaltyID], [CommentID], [TentID], [RacerID], [RefID], [PenaltyPicturePath], [PenaltyLocation], [PenaltyTime], [PenaltyDate], [TicketID], [RacerArrival], [RacerLeave], [longitude], [latitude]) VALUES (5, 2, 2, 6767, 1, N'http://sict-iis.nmmu.ac.za/codecentrix/IronMan/pictures/PIC20180728094307.PNG', NULL, CAST(N'09:44:21' AS Time), CAST(N'2018-07-28' AS Date), 2, N'Sun Jul 29 2018 05:49:59 GMT+0200 (South Africa St', N'Sun Jul 29 2018 05:49:59 GMT+0200 (South Africa St', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Penalty] OFF
INSERT [dbo].[Racer] ([RacerID], [RacerName], [RacerSurname]) VALUES (128, N'John', N'Doe')
INSERT [dbo].[Racer] ([RacerID], [RacerName], [RacerSurname]) VALUES (132, N'Sedge', N'Ricardo')
INSERT [dbo].[Racer] ([RacerID], [RacerName], [RacerSurname]) VALUES (189, N'Billiam', N'Farso')
SET IDENTITY_INSERT [dbo].[Referee] ON 

INSERT [dbo].[Referee] ([RefID], [RefFullName], [RefEmail], [RefPassword]) VALUES (1, N'Sipho', N'anathi@gmail.com', N'anathi123')
INSERT [dbo].[Referee] ([RefID], [RefFullName], [RefEmail], [RefPassword]) VALUES (2, N'Jonh', N'Cena@gmail.com', N'cena123')
SET IDENTITY_INSERT [dbo].[Referee] OFF
INSERT [dbo].[Tent] ([TentID], [TentName]) VALUES (1, N'Tent 1 out')
INSERT [dbo].[Tent] ([TentID], [TentName]) VALUES (2, N'Tent 2 back')
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [TicketType], [TicketName], [TicketColour], [TicketTip], [TimeServing]) VALUES (1, 1, N'Red', N'Red', N'Red', 0)
INSERT [dbo].[Ticket] ([TicketID], [TicketType], [TicketName], [TicketColour], [TicketTip], [TimeServing]) VALUES (2, 2, N'Yellow', N'Yellow', N'Yellow', 30)
INSERT [dbo].[Ticket] ([TicketID], [TicketType], [TicketName], [TicketColour], [TicketTip], [TimeServing]) VALUES (3, 3, N'Blue', N'Blue', N'Blue', 300)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
INSERT [dbo].[TicketComment] ([TicketID], [CommentID]) VALUES (1, 1)
INSERT [dbo].[TicketComment] ([TicketID], [CommentID]) VALUES (2, 1)
INSERT [dbo].[TicketComment] ([TicketID], [CommentID]) VALUES (2, 2)
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Comment]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Racer] FOREIGN KEY([RacerID])
REFERENCES [dbo].[Racer] ([RacerID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Racer]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Referee] FOREIGN KEY([RefID])
REFERENCES [dbo].[Referee] ([RefID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Referee]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Tent] FOREIGN KEY([TentID])
REFERENCES [dbo].[Tent] ([TentID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Tent]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Ticket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Ticket]
GO
ALTER TABLE [dbo].[TicketComment]  WITH CHECK ADD  CONSTRAINT [FK_TicketComment_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[TicketComment] CHECK CONSTRAINT [FK_TicketComment_Comment]
GO
ALTER TABLE [dbo].[TicketComment]  WITH CHECK ADD  CONSTRAINT [FK_TicketComment_Ticket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[TicketComment] CHECK CONSTRAINT [FK_TicketComment_Ticket]
GO
/****** Object:  StoredProcedure [dbo].[uspAddPenalty]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspAddPenalty]
	-- Add the parameters for the stored procedure here
	@TicketID int,
    @TentID int,
    @RacerID int,
    @RefID int,
    @CommentID int,
	@PenaltyTime time,
	@PenaltyPicturePath nvarchar(500),
	@longitude float,
	@latitude float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	INSERT INTO Penalty (TicketID,TentID,RacerID,RefID,CommentID,PenaltyDate,PenaltyTime,PenaltyPicturePath,longitude,latitude)
	VALUES (@TicketID ,@TentID ,@RacerID ,@RefID ,@CommentID ,CONVERT( date,GETDATE(),7),@PenaltyTime,	@PenaltyPicturePath,@longitude,@latitude)
	
END
GO
/****** Object:  StoredProcedure [dbo].[uspALLPenalties]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspALLPenalties]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  p.RacerID, SUM(TimeServing) AS seconds, RacerSurname, TentID
	FROM  Penalty p ,Ticket t, Racer r
	WHERE p.TicketID = t.TicketID AND r.RacerID = p.RacerID
	AND	p.RacerArrival is null
	AND p.TicketID <> 1
	GROUP BY  P.RacerID, RacerSurname, TentID
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetAdministeredPenalty]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetAdministeredPenalty]  
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Penalty
	WHERE Penalty.RacerArrival IS NOT NULL
	AND Penalty.RacerLeave IS NOT NULL
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetAllRacerers]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetAllRacerers]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Racer
	ORDER BY RacerID
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetComments]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetComments]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Comment.*, TicketComment.TicketID
	FROM Comment,TicketComment
	WHERE Comment.CommentID = TicketComment.CommentID
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetDisqualifiedRacers]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetDisqualifiedRacers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT RacerID
	FROM Penalty
	WHERE TicketID = 1
	OR RacerID IN ( SELECT	RacerID
					FROM Penalty
					WHERE TicketID =  3
					GROUP BY RacerID
					HAVING COUNT(RacerID) >2)
	GROUP BY RacerID
	

END
GO
/****** Object:  StoredProcedure [dbo].[uspGetNoArrivalPenalty]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetNoArrivalPenalty]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Penalty
	WHERE Penalty.RacerArrival is null
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetTickets]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetTickets]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Ticket
END
GO
/****** Object:  StoredProcedure [dbo].[uspLogin]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspLogin]
@email nvarchar(500), @password nvarchar(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Referee
	WHERE LOWER(RefEmail) = LOWER(@email) AND RefPassword = @password
END
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePenalty]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspUpdatePenalty]
@ath_id int,
@start_date nvarchar(50),
@end_date nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	UPDATE Penalty 
	SET RacerArrival = @start_date, RacerLeave = @end_date
	WHERE RacerID = @ath_id
END
GO
/****** Object:  StoredProcedure [dbo].[uspWEBAthPenalties]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspWEBAthPenalties]
@racer_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT r.RacerSurname, p.RacerID, SUM(TimeServing) AS seconds
	FROM  Penalty p , Ticket t,Racer r
	WHERE (p.RacerID = @racer_id) AND r.RacerID = p.RacerID AND t.TicketID = p.TicketID  AND RacerArrival IS NULL
	GROUP BY  r.RacerName ,r.RacerSurname, p.RacerID
END
GO
/****** Object:  StoredProcedure [dbo].[uspWEBflagDisq]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspWEBflagDisq]
@racer_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT RacerID, CommentDescription
	FROM  Penalty p, Comment c
	WHERE (RacerID = @racer_id AND TicketID= 1 OR ((SELECT COUNT(PenaltyID) FROM Penalty WHERE RacerID=@racer_id AND TicketID =3 ) >=3))
	AND (p.CommentID = c.CommentID);
	
END
GO
/****** Object:  StoredProcedure [dbo].[uspWEBGetOverview]    Script Date: 2018/08/02 15:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspWEBGetOverview]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT (SELECT COUNT(PenaltyID) FROM Penalty) AS AllPenalties , 
	(SELECT COUNT(PenaltyID) FROM Penalty WHERE TentID =1) AS TentOne,
	(SELECT COUNT(PenaltyID) FROM Penalty WHERE TentID =2) AS TentTwo,
	(SELECT COUNT(PenaltyID) FROM Penalty WHERE TicketID=1 AND (SELECT COUNT(PenaltyID) FROM Penalty WHERE TicketID=3)>=3) AS Disqualified	

END
GO
